# Dependencias principales del proyecto
# Django LTS elegido para compatibilidad estable con backend Oracle 11g personalizado.
Django==4.2.16

# Conectividad Oracle (modo thick para XE 11g)
oracledb==3.4.1
cx_Oracle==8.3.0

# (Las dependencias transitivas como asgiref, sqlparse, pytz se instalarán automáticamente)

# Si necesitas fijar todo el árbol para recreaciones exactas usa:
# pip freeze > requirements-lock.txt

# Desarrollo opcional (descomenta si lo requieres)
# pytest==8.3.3
# black==24.10.0
# mypy==1.11.2
